### MLOPS 2022 - HOMEWORK #1

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error

In [2]:
df_jan = pd.read_parquet('data/fhv_tripdata_2021-01.parquet')
df_feb = pd.read_parquet('data/fhv_tripdata_2021-02.parquet')

In [3]:
len(df_jan)

1154112

Q1: 1154112

In [4]:
df_jan['duration_min'] = [x.total_seconds()/60.0 for x in df_jan.dropOff_datetime - df_jan.pickup_datetime]

In [5]:
av = df_jan.duration_min.mean()
print(av)

19.1672240937939

Q2: average trip duration == 19.16

In [6]:
len_old = len(df_jan)

In [7]:
df_jan = df_jan.loc[(df_jan["duration_min"]>=1) & (df_jan["duration_min"]<=60)]

In [8]:
len_new = len(df_jan)

In [9]:
len_old-len_new

44286

44286 records dropped

In [10]:
sum(df_jan["PUlocationID"].isna())/len(df_jan)

0.8352732770722617

Q3: 83% of missing values PU location ID

In [11]:
df_jan["PUlocationID"] = df_jan["PUlocationID"].fillna(-1)
df_jan["DOlocationID"] = df_jan["DOlocationID"].fillna(-1)

In [12]:
df_jan.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration_min
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,-1.0,-1.0,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,-1.0,-1.0,None,B00009,17.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,-1.0,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,-1.0,61.0,None,B00037,15.216667
5,B00037,2021-01-01 00:59:02,2021-01-01 01:08:05,-1.0,71.0,None,B00037,9.050000

In [13]:
categorical = ['PUlocationID', 'DOlocationID']

In [14]:
df_jan_dict = df_jan[categorical].to_dict(orient='records')

#### Training

In [15]:
dv = DictVectorizer()
X_train = dv.fit_transform(df_jan_dict)

In [16]:
X_train.get_shape()

(1109826, 2)

Q4: X_train matrix has 2 columns

In [17]:
y_train=df_jan.duration_min.tolist()

In [18]:
lr = LinearRegression()

In [19]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
y_train_pred = lr.predict(X_train)

In [21]:
mean_squared_error(y_train, y_train_pred, squared=False)

11.415432830521663

Q5: RMSE on train: 11.42

#### Validation

In [ ]:
df_feb['duration_min'] = [x.total_seconds()/60.0 for x in df_feb.dropOff_datetime - df_feb.pickup_datetime]
df_feb["PUlocationID"] = df_feb["PUlocationID"].fillna(-1)
df_feb["DOlocationID"] = df_feb["DOlocationID"].fillna(-1)

In [ ]:
df_feb = df_feb.loc[(df_feb["duration_min"]>=1) & (df_feb["duration_min"]<=60)]

In [ ]:
df_feb_dict = df_feb[categorical].to_dict(orient='records')

In [ ]:
X_test = dv.transform(df_feb_dict)

In [ ]:
y_test=df_feb.duration_min.tolist()
y_test_pred = lr.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_test_pred, squared=False)

Q6: RMSE on test: 11.86